.vscode/
.idea/

*.log

.env
node_modules/
dist/
coverage/
*.tsbuildinfo
package-lock.json
yarn.lock
npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

*.7z
*.zip
*.rar
*.ace
*.iso
*.tar
*.gz
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz